<footer>
	<div class="twitter"><a href="https://twitter.com/4Mouths" target="_blank">
<?xml version="1.0" encoding="utf-8"?>
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 width="24.11px" height="19.55px" viewBox="0 0 24.11 19.55" enable-background="new 0 0 24.11 19.55" xml:space="preserve">
		<path fill="#288DBF" d="M24.11,2.306c-0.63,0.943-1.45,1.801-2.464,2.567v0.632c0,1.641-0.305,3.292-0.916,4.949
			c-0.613,1.662-1.513,3.166-2.701,4.511c-1.188,1.345-2.656,2.447-4.401,3.302c-1.748,0.854-3.757,1.283-6.029,1.283
			c-2.794,0-5.328-0.735-7.599-2.203c0.174,0.039,0.366,0.056,0.578,0.056c0.209,0,0.419,0,0.628,0c1.153,0,2.254-0.186,3.302-0.552
			c1.048-0.366,1.991-0.882,2.829-1.548c-1.083-0.033-2.044-0.367-2.881-0.993c-0.84-0.63-1.417-1.451-1.73-2.464
			c0.139,0.071,0.28,0.104,0.419,0.104s0.297,0,0.472,0c0.454,0,0.892-0.053,1.309-0.158C3.809,11.55,2.873,10.98,2.123,10.09
			C1.37,9.198,0.997,8.144,0.997,6.919V6.866c0.628,0.35,1.362,0.56,2.201,0.629C2.533,7.039,2,6.458,1.599,5.739
			C1.197,5.023,0.997,4.227,0.997,3.355c0-0.839,0.226-1.66,0.681-2.462C2.9,2.395,4.384,3.607,6.131,4.534
			c1.749,0.925,3.67,1.422,5.767,1.494c-0.104-0.315-0.157-0.683-0.157-1.1c0-0.663,0.131-1.305,0.392-1.915
			c0.263-0.612,0.611-1.136,1.049-1.572c0.437-0.435,0.961-0.786,1.572-1.05C15.364,0.13,16.02,0,16.72,0
			c1.432,0,2.62,0.507,3.564,1.52c0.593-0.103,1.144-0.252,1.651-0.446c0.506-0.189,1.004-0.425,1.492-0.706
			c-0.35,1.152-1.066,2.061-2.148,2.726C22.258,2.954,23.2,2.692,24.11,2.306z"/>
	</svg>

	@4mouths</a></div>
	<nav>
		<ul>
			<li><a href="prime.html">The Prime</a></li>
			<li><a href="duo.html">The Duo</a></li>
			<li><a href="accessories.html">Accessories</a></li>
			<li><a href="installation.html">Installation</a></li>
		</ul>
		<h1><a href="./">

		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="210px" height="24.415px" viewBox="0 0 210 24.415" enable-background="new 0 0 210 24.415" xml:space="preserve">
		<path fill="#288DBF" d="M43.441,0.239c6.942,0,8.104,4,8.104,6.36c0,2.667-1.299,4.343-3.146,5.095
			c2.495,0.582,4.069,2.77,4.069,5.608c0,3.795-2.121,6.874-8.857,6.874h-9.403V0.239H43.441z M38.928,9.814h5.027
			c2.53,0,3.146-1.437,3.146-2.565c0-1.094-0.479-2.564-3.146-2.564h-5.027V9.814z M38.928,19.696h5.677
			c2.564,0,3.419-1.368,3.419-2.907c0-1.504-0.958-2.907-3.419-2.907h-5.677V19.696z M78.666,14.122c0,6.907-4.685,10.293-9.71,10.293
			c-5.062,0-9.711-3.386-9.711-10.293V0.239h4.718v13.78c0,4.479,2.497,5.95,4.994,5.95c2.496,0,4.992-1.47,4.992-5.95V0.239h4.719
			V14.122z M105.652,24.176V8.891l-7.216,8.958l-7.181-8.958v15.285h-4.719V0.239h2.804l9.096,11.421l9.13-11.421h2.804v23.937
			H105.652z M126.791,0.239c6.701,0,10.668,3.967,10.668,9.198c0,5.301-3.967,9.233-10.668,9.233h-3.147v5.505h-4.718V0.239H126.791z
			 M127.166,14.225c3.043,0,5.813-1.402,5.813-4.787c0-3.214-2.77-4.753-5.813-4.753h-3.522v9.54H127.166z M158.801,9.917v4.445
			H148.44v5.369h11.216v4.445h-15.935V0.239h15.935v4.445H148.44v5.232H158.801z M174.569,0.239c6.702,0,10.396,3.967,10.396,9.027
			c0,3.556-1.915,6.258-5.165,7.523c1.027,0.65,2.087,1.881,3.557,4.207l2.051,3.18h-5.3l-1.538-2.394
			c-1.848-2.838-2.428-3.386-4.788-3.454h-2.634v5.848h-4.718V0.239H174.569z M171.149,13.883h3.865c3.077,0,5.471-1.402,5.471-4.616
			c0-3.043-2.394-4.582-5.471-4.582h-3.865V13.883z M200.015,0c3.385,0,6.771,1.641,9.233,3.966l-3.077,2.838
			c-1.779-1.437-4.412-2.359-6.156-2.359h-0.273c-1.573,0-4.138,0.581-4.138,2.667c0,1.607,1.847,2.086,4.001,2.359l1.914,0.205
			c4.856,0.582,8.48,2.394,8.48,7.352c0,4.548-4,7.353-9.301,7.387h-0.205c-4.788,0-8.274-2.257-10.156-4.821l3.078-2.838
			c1.06,1.504,3.521,3.214,7.078,3.214h0.205c2.77-0.034,4.583-1.128,4.583-2.941c0-2.086-1.95-2.667-4.412-2.975l-1.881-0.205
			c-4.581-0.547-8.104-2.359-8.104-6.565c0-4.479,3.897-7.215,8.856-7.283H200.015z M14.4,15.781V7.822l-6.158,7.959H14.4z
			 M14.4,19.381h-12v-2.247L16.155,0.181H0v24h14.4V19.381z M19.2,0.181v15.6h2.4v3.6h-2.4v4.8H24v-24H19.2z"/>
		</svg>


		</a></h1>
		<ul>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="press.html">Press</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="legal.html">Terms</a></li>
		</ul>
	</nav>
	<div class="legal">©2014 4BUMPERS Co. | Made in the U.S.A.</div>
</footer>
