
<div class="wrap-page-section page-section-solo continent">
	<section class="row">
		<div class="column small-12 medium-10 large-8 small-centered">
			<div class="row ">
				<div class="column small-3">
					<img src="./images/flag-usa-1.png" alt="">
				</div>
				<div class="column small-8">
					<h2>Made in the USA</h2>
					<p>4Mouths is the only US patented solid steel mouth guard made in America. 4Mouths was born and designed in New York. It is US patented, US trademarked and US fabricated. We proudly make 4Mouths in the U.S.A.</p>
				</div>
			</div>
		</div>
	</section>
</div>
