<header>
	<h1><a href="./">
		
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="210px" height="24.415px" viewBox="0 0 210 24.415" enable-background="new 0 0 210 24.415" xml:space="preserve">
		<path fill="#288DBF" d="M43.441,0.239c6.942,0,8.104,4,8.104,6.36c0,2.667-1.299,4.343-3.146,5.095
		c2.495,0.582,4.069,2.77,4.069,5.608c0,3.795-2.121,6.874-8.857,6.874h-9.403V0.239H43.441z M38.928,9.814h5.027
		c2.53,0,3.146-1.437,3.146-2.565c0-1.094-0.479-2.564-3.146-2.564h-5.027V9.814z M38.928,19.696h5.677
		c2.564,0,3.419-1.368,3.419-2.907c0-1.504-0.958-2.907-3.419-2.907h-5.677V19.696z M78.666,14.122c0,6.907-4.685,10.293-9.71,10.293
		c-5.062,0-9.711-3.386-9.711-10.293V0.239h4.718v13.78c0,4.479,2.497,5.95,4.994,5.95c2.496,0,4.992-1.47,4.992-5.95V0.239h4.719
		V14.122z M105.652,24.176V8.891l-7.216,8.958l-7.181-8.958v15.285h-4.719V0.239h2.804l9.096,11.421l9.13-11.421h2.804v23.937
		H105.652z M126.791,0.239c6.701,0,10.668,3.967,10.668,9.198c0,5.301-3.967,9.233-10.668,9.233h-3.147v5.505h-4.718V0.239H126.791z
		 M127.166,14.225c3.043,0,5.813-1.402,5.813-4.787c0-3.214-2.77-4.753-5.813-4.753h-3.522v9.54H127.166z M158.801,9.917v4.445
		H148.44v5.369h11.216v4.445h-15.935V0.239h15.935v4.445H148.44v5.232H158.801z M174.569,0.239c6.702,0,10.396,3.967,10.396,9.027
		c0,3.556-1.915,6.258-5.165,7.523c1.027,0.65,2.087,1.881,3.557,4.207l2.051,3.18h-5.3l-1.538-2.394
		c-1.848-2.838-2.428-3.386-4.788-3.454h-2.634v5.848h-4.718V0.239H174.569z M171.149,13.883h3.865c3.077,0,5.471-1.402,5.471-4.616
		c0-3.043-2.394-4.582-5.471-4.582h-3.865V13.883z M200.015,0c3.385,0,6.771,1.641,9.233,3.966l-3.077,2.838
		c-1.779-1.437-4.412-2.359-6.156-2.359h-0.273c-1.573,0-4.138,0.581-4.138,2.667c0,1.607,1.847,2.086,4.001,2.359l1.914,0.205
		c4.856,0.582,8.48,2.394,8.48,7.352c0,4.548-4,7.353-9.301,7.387h-0.205c-4.788,0-8.274-2.257-10.156-4.821l3.078-2.838
		c1.06,1.504,3.521,3.214,7.078,3.214h0.205c2.77-0.034,4.583-1.128,4.583-2.941c0-2.086-1.95-2.667-4.412-2.975l-1.881-0.205
		c-4.581-0.547-8.104-2.359-8.104-6.565c0-4.479,3.897-7.215,8.856-7.283H200.015z M14.4,15.781V7.822l-6.158,7.959H14.4z
		 M14.4,19.381h-12v-2.247L16.155,0.181H0v24h14.4V19.381z M19.2,0.181v15.6h2.4v3.6h-2.4v4.8H24v-24H19.2z"/>
		</svg>


		
	</a></h1>
	<nav>
		<ul>
      <li>
				<a href="./">Product</a>
			</li>
			<li>
				<a href="faq.html">FAQ</a>
			</li>
			<li>
				<a href="press.html">Press</a>
			</li>
			<li>
				<a href="contact.html">Contact</a>
			</li>
		</ul>
	</nav>
</header>
