
<div class="wrap-page-section page-section-panelnav continent">
	<section class="row">
		<a href="prime.html" class="column small-12 medium-6 panel prime">
			<h1 class="text-center">Prime</h1>
			<div class="row">
				<p class="column small-6 reef">
					The 4B-Prime<br>
					Superior solid steel protection for your person’s upper and lower mouth.
				</p>
				<p class="column small-6">
					<img src="./images/featuremod-prime-2.png" alt="">
				</p>
			</div>
			<div class="reef clearfix">
				<p class="column text-center">
					The 4B-Prime’s design makes it ideal for both neutral and athletic mouths.
				</p>
			</div>
			<div class="reef">
				<h3 class="text-center">$55.95</h3>
				<p class="text-center"><span class="button">Order Now</span></p>
			</div>
		</a>
		<a href="duo.html" class="column small-12 medium-6 panel callout duo">
			<h1 class="text-center">Duo</h1>
			<div class="row">
				<p class="column small-6 reef">
					The NEW 4B-Duo
					<br>A low-profile solid steel protection for your upper mouth. 
				</p>
				<p class="column small-6">
					<img src="./images/featuremod-duo-1.png" alt="">
				</p>
			</div>
			<div class="reef clearfix">
				<p class="column text-center">
					The 4B-Duo’s low-profile design means it is best for mouths that are neutral and not athletic.
				</p>
			</div>
			<div class="reef">
				<h3 class="column text-center">$55.95</h3>
				<p class="column text-center"><span class="button">Order Now</span></p>
			</div>
		</a>
	</section>
	{{!-- <div class="row island">
				<p class="text-center column"><a href="accessories.html" class="button">Buy Accessories</a></p>
			</div>--}}
</div>

