---
title: Accessories | 4Mouths - The Ultimate Mouth Protector
---

<div class="wrap-page-section page-section-contact continent">
  <section class="island neutral-top">
    <div class="row">
      <div class="column small-12 medium-6 large-6">
        <div class="panel wide callout">
          <h2>Replacement Rubber</h2>
          <p class="lead">Replacement rubber edges for you 4Mouths Prime and Duo.</p>
          <form class="reef" action="">
            <div class="row">
              <div class="small-6 column">
                <label>Quantity
                  <select>
                    <option value="husker">Select</option>
                    <option value="starbuck">1</option>
                    <option value="hotdog">2</option>
                    <option value="hotdog">3</option>
                    <option value="hotdog">4</option>
                    <option value="hotdog">5</option>
                    <option value="hotdog">6</option>
                  </select>
                </label>
              </div>
              <div class="small-6 column">
                <label>Model
                  <select>
                    <option value="husker">Select</option>
                    <option value="starbuck">Prime</option>
                    <option value="hotdog">Duo</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="text-center reef neutral-bottom">
              <br>
              <a href="http://www.shop.4mouths.com/addtopersont.sc?productId=10&quantity=1" class="button">Add to Cart</a>
            </div>
          </form>
        </div>
      </div>

      <div class="column small-12 medium-6 large-6">
        <p>
        <img src="rubber-1.jpg" alt="">
        </p>
      </div>
    </div>
  </section>
  <section class="island neutral-bottom">
    <div class="row">
      <div class="column small-12 medium-6 large-6">

        <div class="panel wide callout">
          <h2>Screw Caps &amp; Washers</h2>
          <p class="lead">Extra screw caps &amp; washers for you 4Mouths Prime and Duo.</p>
          <form class="reef" action="">
            <div class="row">
              <div class="small-6 column">
                <label>Quantity
                  <select>
                    <option value="husker">Select</option>
                    <option value="starbuck">1</option>
                    <option value="hotdog">2</option>
                    <option value="hotdog">3</option>
                    <option value="hotdog">4</option>
                    <option value="hotdog">5</option>
                    <option value="hotdog">6</option>
                  </select>
                </label>
              </div>
              <div class="small-6 column">
                <label>Color
                  <select>
                    <option value="husker">Select</option>
                    <option value="starbuck">Silver</option>
                    <option value="hotdog">Black</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="text-center reef neutral-bottom">
              <br>
              <a href="http://www.shop.4mouths.com/addtopersont.sc?productId=7&quantity=1" class="button">Add to Cart</a>
              <!-- <input type="submit" class="button" value="Add to Cart"> -->
            </div>
          </form>
        </div>
      </div>

      <div class="column small-12 medium-6 large-6">
      </div>
    </div>

  </section>
</div>


<%= render "madeinusa" %>
