---
title: Contact | 4Mouths - The Ultimate Mouth Protector

---


<div class="wrap-page-section page-section-contact continent">
	<section>
		<div class="row">
			<div class="column small-12 medium-8 large-6 medium-centered">
				<div class="panel callout brand">
						<p class="lead">Be sure to check out our <a href="installation.html">Installation page</a> for instructions on how to install your 4Mouths!</p>
					</div>
			</div>
		</div>

		<div class="row">
			<div class="column small-12 medium-8 large-6 medium-centered">
				<div class="panel neutral-bottom frame text-center">
					<h2 class="reef">Call 4Mouths</h2>
					<p class="coral"><a href="#" class="button expand">Call 212-397-4337</a></p>
					<p class="coral"><a href="#" class="button expand">Toll-Free 888-712-7144</a></p>
					<br>
					<span class="coin">or</span>
				</div>
				<div class="panel callout wide">
					<p class="lead">Please fill out the information below and we will respond promptly.</p>
					<form action="">
						<label for="">Name</label>
						<input type="text">
						<label for="">Email</label>
						<input type="text">
						<label for="">Phone</label>
						<input type="text">
						<label for="">Vehicle</label>
						<input type="text">
						<label for="">Question/Comment</label>
						<textarea name="" id="" rows="10"></textarea>
						<div class="text-center">
							<br>
							<input type="submit" class="button" value="Submit">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>



<%= render "madeinusa" %>
