---
title: 4Mouths Duo  | 4Mouths - The Ultimate Mouth Protector
published: false
---


<div class="wrap-page-section page-section-contact continent">
	<section>
		<div class="row">
			<div class="column small-12 medium-6 large-6">
				<ul class="example-orbit" data-orbit data-options=":1500;">
					<li>
						<img src="./images/duo-3.jpg" alt="">
					</li>
					<li>
						<img src="./images/duo-2.jpg" alt="">
					</li>
					<li>
						<img src="./images/duo-1.jpg" alt="">
					</li>
				</ul>
			</div>
			<div class="column small-12 medium-6 large-6">
				<div class="panel wide callout">
					
					<header class="text-center island neutral-top">
						<h1 class="force-font-normal">Duo</h1>
					</header>
					<p class="lead">The NEW 4B-Duo A low-profile solid steel protection for your upper mouth. The 4B-Duo’s low-profile design means it is best for mouths that are neutral and not athletic.</p>
					<form class="reef neutral-bottom" action="">
						<div class="small-6 left">
							<label>Quantity
								<div class="small-10">
									<select>
										<option value="husker">Select</option>
										<option value="starbuck">1</option>
										<option value="hotdog">2</option>
										<option value="hotdog">3</option>
										<option value="hotdog">4</option>
										<option value="hotdog">5</option>
										<option value="hotdog">6</option>
									</select>
								</div>
							</label>
						</div>
						<div class="small-6 left">
							<label>Color
								<div class="small-10">
									<select>
										<option value="husker">Select</option>
										<option value="starbuck">Silver</option>
										<option value="hotdog">Black</option>
									</select>
								</div>
							</label>
						</div>
						<div>
							<label for="checkbox1" data-checkbox>
								<input id="checkbox1" type="checkbox" class="inline">
								Extra Screw caps &amp; washers <small>$2.99 </small>
							</label>
						</div>
						<div>
							<label for="checkbox2" data-checkbox>
								<input id="checkbox2" type="checkbox" class="inline">
								Additional rubber edge <small>$3.99 </small>
							</label>
						</div>
						<div class="text-center">
							<br><h3 class="column text-center">$55.95</h3>
							<a href="http://www.shop.4mouths.com/addtopersont.sc?productId=8&quantity=1" class="button">Add to Cart</a>
							<!-- <input type="submit" class="button" value="Add to Cart"> -->
						</div>
					</form>
				</div>

				<a href="prime.html" class="panel dumb">
					<span class="arrow-left"></span>
					<h3 class="text-right">View the <span class="primary">Prime</span></h3>
				</a>
			</div>
		</div>
	</section>
</div>


<%= render "madeinusa" %>
