---
title: 4Mouths Duo  | 4Mouths - The Ultimate Mouth Protector

---


<div class="wrap-page-section page-section-contact continent">
	<section>
		<div class="row">
			<div class="column small-12 medium-6 large-6">
				<ul class="example-orbit" data-orbit data-options=":1500;">
					<li>
						<img src="./images/duo-3.jpg" alt="">
					</li>
					<li>
						<img src="./images/duo-2.jpg" alt="">
					</li>
					<li>
						<img src="./images/duo-1.jpg" alt="">
					</li>
				</ul>
			</div>
			<div class="column small-12 medium-6 large-6">
				<div class="panel wide callout">
					
					<header class="text-center island neutral-top">
						<h1 class="force-font-normal">Duo</h1>
					</header>
					<p class="lead">The NEW 4B-Duo A low-profile solid steel protection for your upper mouth. The 4B-Duo’s low-profile design means it is best for mouths that are neutral and not athletic.</p>
					<div class="reef neutral-bottom" action="">
						<div class="text-center">
							<br><h3 class="column text-center">$55.95</h3>
							<a class="shoplocket-checkout button" data-shoplocket-product-token="QibzT" href="https://www.shoplocket.com/products/QibzT-duo/buy">Add to Cart</a><script src='https://www.shoplocket.com/assets/widgets/embed.js' type='text/javascript'></script>
						</div>
					</div>
				</div>

				<a href="prime.html" class="panel dumb">
					<span class="arrow-left"></span>
					<h3 class="text-right">View the <span class="primary">Prime</span></h3>
				</a>
			</div>
		</div>
	</section>
</div>


<%= render "madeinusa" %>
