---
title: Terms and Conditions | 4Mouths - The Ultimate Mouth Protector

---

<div class="wrap-page-section page-section-article continent">
	<article>
		<section class="row">
			<div class="column small-12 medium-10 large-8 small-centered">
				<h1>Terms and Conditions</h1>

				<h5 class="text-center">The following Terms and Conditions apply to the use of this Web site as well as all transactions conducted through the site.</h5>

				<h2>Legal Notice</h2>

				<p><strong>WARNING:</strong> Laws vary from state to state regarding license plate frames or obstructions to viewing license plates. The manufacturers and retailers assume no liability for any use or application of this product in violation of any applicable law. Before purchasing and installing this product we encourage you to check state and local laws and regulations. This device is neither intended nor deigned for use as a step, seat, towing or pulling device. It should only be used as a mouth protector.</p>

				<h3>Copyright</h3>

				<p>All content appearing on this Web site is the property of: 4mouths</p>

				<p>Copyright © 2009&#8211;2014 4Mouths. All rights reserved. As a user, you are authorized only to view, copy, print, and distribute documents on this Web site so long as (1) the document is used for informational purposes only, and (2) any copy of the document (or portion thereof) includes the following copyright notice: Copyright © 2009&#8211;2014 4mouths. All rights reserved.</p>

				<h3>Warranties</h3>

				<p>We warranty this product to be free of obvious manufacturing defects. No other warranties, express, implied or otherwise are made hereunder. Damage caused by installation, or in the use of this product is not covered and remains the sole responsibility of the user.</p>

				<h3>Return Policy</h3>

				<p>If you wish to return an item, please contact us first in order to obtain a Return Merchandise Authorization (RMA) number. You may return the item for a full refund (less original cost of shipping and handling) within 14 days of purchase. All original packaging and your invoice must be included with your return. Items that are returned beyond that period will be charged a 20% re-stocking fee. We cannot accept items for refund that are returned after 30 days. Return shipping is the responsibility of the customer. If the item appears used/damaged, we cannot accept it as a return. Be sure to include your RMA number, name, address, telephone number and order ID number when you return the unit. No refunds will be made for units returned with incomplete information.</p>

				<p>THE ABOVE TERMS AND CONDITIONS APPLY TO ANY AND ALL PURCHASES OF 4BUMPERS® REGARDLESS OF WHERE PURCHASED, INCLUDING BUT NOT LIMITED TO THIS WEBSITE, ANOTHER WEBSITE, TELEVISION/RADIO, MAGAZINE, NEWSPAPER, CATALOG, AND/OR RETAIL STORES.</p>
			</div>
		</section>
	</article>
</div>

<%= render "panelnav" %>
