---
title: 4Mouths Prime | 4Mouths - The Ultimate Mouth Protector

---


<div class="wrap-page-section page-section-contact continent">
	<section>
		<div class="row">
			<div class="column small-12 medium-6 large-6">
				<div class="panel wide neutral-bottom">

					<header class="text-center island neutral-top">
						<h1 class="force-font-normal"> Prime</h1>
					</header>
					<p class="lead">
						The 4B-Prime provides 4 inches of superior solid steel protection for your person’s upper and lower mouth.
					</p>
					<div class="reef neutral-bottom" action="">
						<div class="text-center">
							<br><h3 class="column text-center">$55.95</h3>
							
							<a class="shoplocket-checkout button" data-shoplocket-product-token="Q5Xun" href="https://www.shoplocket.com/products/Q5Xun-the-prime/buy">Add to Cart</a><script src='https://www.shoplocket.com/assets/widgets/embed.js' type='text/javascript'></script>

						</div>
					</div>
				</div>

			<a href="duo.html" class="panel callout dumb">
				<span class="arrow-right"></span>
				<h3>View the <span class="primary">Duo</span></h3>
			</a>
			</div>
			<div class="column small-12 medium-6 large-6">
				
				<ul class="example-orbit" data-orbit data-options=":1500;">
					<li>
						<img src="./images/prime-2.jpg" alt="">
					</li>
					<li>
						<img src="./images/prime-1.jpg" alt="">
					</li>
				</ul>

			</div>
		</div>
	</section>
</div>


<%= render "madeinusa" %>
