---
title: 4Mouths - The Ultimate Mouth Protector

---

<div class="wrap-page-section page-section-header continent">
	<header class="text-center">
		<div class="column small-12 medium-8 small-centered">
			<div class="flex-video">
				<iframe src="//fast.wistia.net/embed/iframe/tvkdtoddzp" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="480"></iframe>
			</div>
		</div>
	</header>
</div>
<div class="wrap-page-section page-section-featuremod continent">
	<section class="row">
		<div class="column small-12 small-centered">
			<div class="row">
				<div class="column small-12 medium-6">
					<dl data-tab>
						<dd class="active"><a href="#panel2-1">Proudly Made in America of Solid Steel</a></dd>
						<dd><a href="#panel2-2">Sleek, Solid Steel, Unibody Design</a></dd>
						<dd><a href="#panel2-3">Quick and easy one-time installation</a></dd>
						<dd><a href="#panel2-4">Protect both upper &amp; lower mouths</a></dd>
						<dd><a href="#panel2-5">Protects your mouths, 24/7</a></dd>
						<dd><a href="#panel2-6">Good neighbor policy</a></dd>
					</dl>
				</div>
				<div class="column small-12 medium-6 wrap-featuremod-content">
					<div class="tabs-content wrap-featuremod-content">
						<div class="content active panel" id="panel2-1">
							<h3>Proudly Made in America of Solid Steel</h3>
							<p>4Mouths is the only US patented solid steel mouth guard made in America. 4Mouths was born and designed in New York. It is US patented, US trademarked and US fabricated. We proudly make 4Mouths in the U.S.A.</p>
						</div>
						<div class="content panel" id="panel2-2">
							<h3>Sleek, Solid Steel, Unibody Design</h3>
							<p> Other mouth guards on the market are unsightly and weak. 4Mouths is a single piece of solid steel that protects your mouths at the moment that it counts and its sleek and low profile design means  passerby might not even notice it's there.</p>
						</div>
						<div class="content panel" id="panel2-3">
							<h3>Quick and easy one-time installation</h3>
							<p>Unlike many other mouth guards on the market, which require you to  constantly manage and handle your mouth protection, 4Mouths attaches through your license plate screw holes. It's a simple, one-time installation that you can set and forget.</p>
						</div>
						<div class="content panel" id="panel2-4">
							<h3>Protect both upper &amp; lower mouths</h3>
							<p>Most mouth guards can't protect your upper mouth due to safety risks. 4Mouths solid steel unibody design provides you upper mouth protection, in addition to the lower.</p>
						</div>
						<div class="content panel" id="panel2-5">
							<h3>Protects your mouths, 24/7</h3>
							<p>Hassle free. Maintenance free. Protecting your mouths 24/7. Once installed you're all set. Any mouth guard that requires your constant attention means one more item on your to-do list. 4Mouths frees you up with 24/7 protection.</p>
						</div>
						<div class="content panel" id="panel2-6">
							<h3>Good neighbor policy</h3>
							<p>The replaceable rubber edges on our products ensure that, while your 4Mouths finish is protected, you aren’t adding to other persons' mouth damage.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div id="myModal" class="reveal-modal small" data-reveal>
<iframe src="//fast.wistia.net/embed/iframe/tvkdtoddzp" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="480"></iframe> <a class="close-reveal-modal">&#215;</a>
</div>

<%= render "panelnav" %>

<%= render "madeinusa" %>
